* {
  margin: 0;
  padding: 0;
}

h3 {
  text-align: center;
}

.container {
  width: 180px;
  height: 300px;
  margin: 0 auto;
  background-color: #fff;
  align-items: center;
  border: 1px solid black;
}

.inner-container {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  background-color: #fff;
  padding-top: 35px;
  position: relative;
}

.floor {
  transition: 1s;
}

#first-floor {
  height: 30px;
  background-color: #fff;
}
#second-floor {
  height: 30px;
  background-color: #fff;
}
#third-floor {
  height: 30px;
  background-color: #fff;
}
#fourth-floor {
  height: 30px;
  background-color: #fff;
}

#fifth-floor {
  height: 30px;
  background-color: #fff;
}

.elevator {
  width: 50px;
  height: 30px;
  position: absolute;
  bottom: 0px;
  left: 50px;
  background-color: #000;
  color: #fff;
  text-align: center;
  transition: 1s;
  text-align: center;
}

.prompt {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#up {
  width: 30px;
  border-radius: 15%;
  border: 0;
}
#down {
  width: 30px;
  border-radius: 15%;
  border: 0;
}
#prompt {
  width: 50px;
  border-radius: 15%;
  border: 0;
}
.btn-cont {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
